$primary-color: #7858A6;
$p-color: #dadada;
$p-grey: #7B7B7B;

.footer {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;

    hr{
        opacity: 20%;
        width: 100%;
        margin-bottom: 3rem;
    }
}

.footer__logo{
    h3 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2rem;
    color: $primary-color;
    }
}

.footer__content{
    h5 {
    color: $p-color;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1rem;
    }
}

.footer__content{
    a {
    text-decoration: none;
    color: $p-color;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1rem;
    }
}

.footer__content{
    ul, li {
    list-style-type: none;
    }
    a{
        &:hover{
            color: $primary-color;
            transition: .3s;
        }
    }
}

.footer__terms a {
    color: $p-grey;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;

    &:hover{
        color: $primary-color;
        transition: .3s;
    }
}
