body::-webkit-scrollbar {
    -webkit-appearance: none;

    &:vertical{
        width: 10px;
    }

    &:horizontal{
        height: 10px;
    }
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 


body::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}


